
body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

div {
    background-color: beige;
    border-radius: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
    background-color: bisque;
}

nav ul li a {
    color: salmon;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

.active {
    color: gray;
}

button {
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid gray;
    color: gray;
    font-size: 110%;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1px;
    font-size: 110%;
}


.overall-container {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.sidebar {
    width: 20%;
    border: 1px solid grey;
}

.viewer-container {
    width: 80%;
}

.sidebar, .viewer-container {
    display: flex;
    flex-direction: column;
    padding: 1px;
    margin: 7px 2px;
}

.collection-option {
    width: 100%;
    background-color: #D8D8D8;
    color: rgb(68, 68, 68);
    text-align: center;
    cursor: pointer;
    margin: 2px 0;
}

.edit-collection-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item-box {
    background-color: lightgrey;
    margin: 5px 10px;
    padding: 7px;
    border-radius: 5px;
}

.item-box div {
    background-color: inherit;
}

.edit-button {
    font-size: 75%;
    color: gray;
}

.collection-name-field {
    font-size: 200%;
    background-color: inherit;
    border: 0px;
}

.feed-list-item {
    margin: 3px 0px;
}

.collections-header {
    text-align: center;
    color: gray;
    font-size: 120%;
    margin-bottom: 5px;
}

.login-header {
    font-size: 120%;
    color: gray;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container * {
    margin: 0 auto;
}

.feed-results {
    font-size: 80%;
    overflow: auto;
    max-height: 500px;
}

.feed-results div {
    background-color: gainsboro;
    margin: 3px 0;
}

.logo {
    max-height: 17px;
}

.collection-description-container {
    display: flex;
    flex-direction: column;
}

.collection-description-header {
    text-align: center;
    color: gray;
}

.collection-description-field {
    border: 0px;
    font-family: inherit;
    background-color:inherit;
}

.collection-checkbox-label {
    color: gray;
}

.edit-collection-form div {
    margin: 10px;
}

.collection-view-header {
    font-size: 300%;
    text-align: center;
}

.item-header, .item-byline {
    text-align: center;
}

.item-header {
    font-size: 120%;
}

.item-byline {
    color: gray;
}

.item-contents {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0;
}

.item-contents img {
    margin: 0 auto;
}

.no-items {
    text-align: center;
    color: gray;
    margin: 50px 0;
}

.item-source {
    text-align: center;
    font-size: 120%;
}

.intro {
    text-align: center;
    margin: 10px;
}

#registration-link {
    color: gray;
    padding: 5px;
}
