/* TODO Add site wide styles */

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
    background-color: beige;
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

button {
    background-color: tan;
    border-radius: 15%;
    border: 1px solid salmon;
}

input {
    border: 1px solid gray;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar {
    width: 33%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.viewer-container {
    width: 67%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
