/* TODO Add site wide styles */

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

div {
    background-color: beige;
    border-radius: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
    background-color: bisque;
}

nav ul li a {
    color: salmon;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

.active {
    color: gray;
}

button {
    background-color: tan;
    border-radius: 10px;
    border: 1px solid salmon;
}

input {
    border: 1px solid gray;
}


.overall-container {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.sidebar {
    width: 20%;
}

.viewer-container {
    width: 80%;
}

.sidebar, .viewer-container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1px;
    margin: 2px;
}

.collection-option {
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 2px 0;
}

.edit-collection-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item-box {
    background-color: lightgrey;
    margin: 5px 10px;
    padding: 7px;
    border-radius: 5px;
}

.item-box div {
    background-color: inherit;
}

.edit-button {
    font-size: 75%;
}

.collection-name-field {
    font-size: 200%;
    background-color: inherit;
    border: 0px;
}

.feed-list-item {
    margin: 3px 0px;
}
